{% macro pagetitle(title) -%}
<div class="row justify-content-center">
    <div class="col">
        <p class="h3 text-center">{{ title }}</p>
    </div>
</div>
{%- endmacro %}

{% macro listanchors(anchors) -%}
<div class="row justify-content-center">
    <div class="col">
        <ul class="list-group list-group-flush">
            {% for anchor in anchors %}
            <li class="list-group-item">
                <a href="{{ anchor.anchor }}">{{ anchor.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{%- endmacro %}

{% macro numberitem(name, label, min, max) -%}
<div class="input-group">
    <span class="input-group-text">{{ label }}</span>
    <input type="number" name="{{ name }}" class="form-control" min="{{ min }}" max="{{ max }}" step="1" required>
</div>
{%- endmacro %}

{% macro textitem(name, label) -%}
<div class="input-group">
    <span class="input-group-text">{{ label }}</span>
    <input type="text" name="{{ name }}" class="form-control" required>
</div>
{%- endmacro %}

{% macro emailitem(label) -%}
<div class="input-group">
    <span class="input-group-text">{{ label }}</span>
    <input type="email" name="email" required class="form-control">
</div>
{%- endmacro %}

{% macro passworditem(label) -%}
<div class="input-group">
    <span class="input-group-text">{{ label }}</span>
    <input type="password" name="password" required class="form-control">
</div>
{%- endmacro %}

{% macro submitbutton(label) -%}
<div class="input-group">
    <button class="btn btn-primary form-control" name="submit" type="submit">{{ label }}</button>
</div>
{%- endmacro %}

{%- macro cancelbutton(label) %}
<div class="input-group">
    <button class="btn btn-secondary form-control" type="submit" name="submit" value="cancel" formnovalidate>{{ label }}</button>
</div>
{% endmacro -%}

{% macro checkboxitem(name, label) -%}
<div class="form-check">
    {% if label %}
    <label>{{ label }}</label>
    {% endif %}
    <input class="form-check-input" type="checkbox" name="{{ name }}">
</div>
{%- endmacro %}

{% macro radioitem(name, label) -%}
<div class="form-check form-check-inline">
    {% if label %}
    <span class="input-form-text">{{ label }}</span>
    {% endif %}
    <input class="form-check-input" type="radio" name="{{ name }}">
{%- endmacro %}

{%- macro menu(menuitems) %}
<div class="row my-4 py-3 justify-content-center border-top border-bottom" style="background-color: #d5f4e6;">
    <div class="col">
        <ul class="list-group list-group-horizontal">
            {% for item in menuitems %}
            <li class="list-group-item list-group-item-action text-center">
                <a class="link-offset-2" href="{{ item.anchor }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro -%}

# UPLOAD DOCUMENT FORM
{% macro file_upload(url, message) -%}
    <form action="{{ url }}" method="POST" enctype="multipart/form-data" onsubmit="submitbutton.disabled=true; return true;">
        <div class="form-group my-2">
            <label for="file">{{ message }}</label>
            <input class="form-control" type="file" id="file" name="file" autocomplete="off" autofocus required>
        </div>
        <div class="form-group d-grid my-2 text-center">
            <button class="btn btn-primary mt-3" type="submit" name="submitbutton">Upload</button>
        </div>
    </form>
{%- endmacro %}

# LOGIN FORM
{% macro login(url) -%} 
    <form action="{{ url }}" method="POST" onsubmit="submitpassword.disabled=true; return true;">
        <div class="form-group my-2">
            <label for="email">Email</label> 
            <input class="form-control" type="text" id="email" name="email" maxlength="32" autofocus required>
        </div> 
        <div class="form-group my-2">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" maxlength="32">
        </div>
        <div class="form-group d-grid my-2 text-center"> 
            <button class="btn btn-primary mt-3" type="submit" name="submitpassword" id="submitpassword" on>Login with Password</button>
        </div>
        <div class="justify-content-center d-flex py-2 border-bottom border-top">
             <p class="flex-fill align-self-center my-auto text-center">2FA Authentication type</p>
        </div>
        <div class="form-group d-flex justify-content-center my-2 border-bottom">
            <div class="form-check form-check-inline px-3">
                <span class="input-form-text">Google Authenticator</span>
                <input class="form-check-input" type="radio" name="authtype" value="google" checked>
            </div>
            <div class="form-check form-check-inline px-3">
                <span class="input-form-text">SMS and Email</span>
                <input class="form-check-input" type="radio" name="authtype" value="sms">
            </div>
        </div>
    </form>
    <div class="d-grid my-5 text-center"> 
        <a class="btn btn-primary" href="{{ url_for('auth.otplogin') }}">Use OTP Login - No Password</a>
    </div>
{%- endmacro %}

# LOGIN FORM
{% macro otplogin(url) -%} 
    <form action="{{ url }}" method="POST" onsubmit="submitemail.disabled=true; return true;">
        <div class="form-group my-2">
            <label for="email">Account Email</label> 
            <input class="form-control" type="text" id="email" name="email" maxlength="32" autofocus required>
        </div> 
        <div class="justify-content-center d-flex py-2 border-bottom border-top">
             <p class="flex-fill align-self-center my-auto text-center">2FA Authentication type</p>
        </div>
        <div class="form-group d-flex justify-content-center my-2 border-bottom">
            <div class="form-check form-check-inline px-3">
                <span class="input-form-text">Google Authenticator</span>
                <input class="form-check-input" type="radio" name="authtype" value="google" checked>
            </div>
            <div class="form-check form-check-inline px-3">
                <span class="input-form-text">SMS and Email</span>
                <input class="form-check-input" type="radio" name="authtype" value="sms">
            </div>
        </div>
        <div class="form-group d-grid my-2 text-center"> 
            <button class="btn btn-primary mt-3" type="submit" name="submitemail" id="submitemail" on>Submit Email</button>
        </div>
    </form>
{%- endmacro %}

# ONE_TIME FORM
{% macro one_time(url, authtype=None) -%}
    <form action="{{ url }}" method="POST" onsubmit="submitbutton.disabled=true; return true;">
        <div class="form-group my-2">
            <label for="otp">Please Enter {% if not authtype %}OTP PIN{% else %}{{ authtype }}{% endif %}</label>
            <input class="form-control" type="text" id="otp" name="otp" maxlength="8" autofocus required>
        </div>
        <div class="form-group d-grid my-2 text-center">
            <button class="btn btn-primary mt-3" type="submit" name="submitbutton">Send Code</button>
        </div>
    </form>
{%- endmacro %}

{# BETTER NAVIGATION - 16APR2025 #}
{% macro nav(user) -%}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav001" aria-controls="nav001" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>      
<div class="collapse navbar-collapse" id="nav001">
    <div class="navbar-nav">
    <a class="nav-item nav-link text-primary" href="{{ url_for('home') }}">Home</a>
    <li class="nav-item dropdown">
        {% if user.auth|ishrmgr or user.auth|isadmin or user.auth|isdatamgr %}
        <a class="nav-link dropdown-toggle text-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Lookup Staff
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="nav-item nav-link text-primary" href="{{ url_for('lookup') }}">Show Cleaned-up Import Data</a></li>
            <li><a class="nav-item nav-link text-primary" href="{{ url_for('lookup_original') }}">RAW Download Data</a></li>
        </ul>
        {% endif %}
    </li>
    {% if user.auth|isadmin or user.auth|ishrmgr %}
    <a class="nav-item nav-link text-primary" href="{{ url_for('timereport') }}">Hours Worked</a>
    {% endif %}
    {% if user.auth|isadmin or user.auth|ishrmgr %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Staff Reports
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="nav-item nav-link text-primary" href="{{ url_for('listreports') }}">Download Saved Reports</a></li>
            <li><a class="nav-item nav-link text-primary" href="{{ url_for('clockreports') }}">Report of Clock Changes</a></li>
        </ul>
    </li>
    {% endif %}
    {% if user.auth|isadmin or user.auth|ishrmgr or user.auth|isdatamgr %}
    <a class="nav-item nav-link text-primary" href="{{ url_for('edit_attendance') }}">Edit Clocking Data</a>
    {% endif %}
    {% if user.auth|isadmin or user.auth|isdatamgr %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            File Management
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="nav-item nav-link text-primary" href="{{ url_for('importfile') }}">IMPORT a File</a></li>
            <li><a class="nav-item nav-link text-primary" href="{{ url_for('listfiles') }}">LIST Imported Files</a></li>
        </ul>
    </li>    
    {% endif %}
    </div>
</div>
<div class="navbar-nav navbar-right">
    <span class="nav-item navbar-text fw-light">[{{ user.firstname }}]</span>
    {% if user.auth|isadmin or user.auth|isusermgr or user.auth|isdatamgr %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Staff &amp; Users
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
            {% if user.auth|isadmin or user.auth|isusermgr %}
            <li><a class="nav-item nav-link text-primary" href="{{ url_for('useradmin') }}">MANAGE USERS</a></li>
            {% endif %}
            {% if user.auth|isadmin or user.auth|isdatamgr %}
            <li><a class="nav-item nav-link text-primary" href="{{ url_for('staffadmin') }}">MANAGE STAFF</a></li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
    <a class="nav-item nav-link text-primary" href="{{ url_for('auth.logout') }}">LOGOUT</a>
</div>
</nav>
{%- endmacro %}